#nat{
  box-shadow: 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
section{
  padding: 40px;
}
.hero{
  display: flex;
  flex-direction: column;
}
.heroHeader{
  margin-bottom: 26px;
  margin-top: 10px;
}
.heroBody{
  margin-top: 0;
}
.card{
  font-size: 12px;
  width: 175px;
  margin: 25px;
}
.card-text{
  text-align: center;
}